footer {

    .footer-container {
        position: relative;
        background: url(../../../assets/img/backgrounds/header.png);
        background-size: 200%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;

        @include breakpoint(large) {
            background-size: cover;
        }

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: var(--tertiary-color);
            opacity: .65;
            z-index: -1;
        }
    }

    .footer-wrapper {

        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80vw;
        margin: auto;
        padding: 2rem 0;

        @include breakpoint(large) {
            grid-template-columns: 2fr 1fr 1fr;
            width: 50%;
        }

        ul {
            margin-top: 8px;

            &.sitemap {
                gap: 4px;

                li {
                    text-align: center;

                    @include breakpoint(large) {
                        text-align: left;
                    }
                }

                li a {

                    position: relative;
                    font-weight: 700 !important;

                    @include breakpoint(large) {
                        font-weight: 300 !important;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        opacity: 0;
                        @include transition($duration: 600ms);
                    }

                    &::after {
                        height: 17px;
                        width: 2px;
                        background-color: var(--secondary-color);
                        bottom: -2px;
                        right: 0;
                        transform: translateX(20px) skewY(-33deg) rotate(33deg);
                        transform-origin: bottom;
                    }

                    &:hover {
                        color: var(--primary-color);
                        &::after {
                            opacity: 1;
                            transform: translateX(0) skewY(-33deg) rotate(33deg);
                        }
                    }
                }
            }

            &.social {

                gap: 8px;
                align-items: center;

                @include breakpoint(large) {
                    align-items: unset;
                }

                .github,
                .linkedin {

                    &::before {
                        height: 15px;
                        width: 15px;
                    }

                }

                li {
                    width: fit-content;
                    border: 1px solid var(--white);
                    border-radius: 100%;
                    padding: 5px;
                    overflow: hidden;
                    @include transition;

                    &:hover {
                        border-color: var(--primary-color);
                        a::before {
                            transform: scale(1.75);
                            background: var(--primary-color);
                        }
                    }
                }
            }

        }
    }

    .subfooter-wrapper {

        background: $linear-primary;
        padding: 1rem;

        .copyright {
            justify-content: center;
            gap: 4px;
        }
    }
}