.main-header {
    min-height: 52vw;
    background: url(../../../assets/img/backgrounds/header.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(xxlarge) {
        min-height: 48vw;
        max-height: 921px;;
    }
}

.head-navs {

    position: relative;
    transform: translateY(10px);
    max-height: 64px;
    z-index: 1;

    .menu-wrapper {
        position: relative;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: auto;
        background: var(--primary-color);
        width: 50vw;
        padding: 2rem;
        max-width: 924px;
        height: 50px;
        font-size: 1.2vw;
        color: var(--white);
        z-index: 1;
        overflow: hidden;

        @include breakpoint(xxlarge) {
            font-size: .9vw;
        }

        @include breakpoint(large, max) {
            font-size: .9vw;
        }

        .cursor-shade {
            position: absolute;
            width: 100%;
            height: 100%;
            background: $linear-primary;
            z-index: 0;
            @include transition;
        }

        a {
            position: relative;
            color: var(--white);
            font-size: inherit;
            z-index: 1;
        }
    }
}

.github,
.linkedin {

    a::before {
        content: '';
        display: block;
        height: 20px;
        width: 20px;
        background: var(--white);
        -webkit-mask-repeat: space;
        mask-repeat: space;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center;
        mask-position: center;
        @include transition;
    }

}

.github a::before {
    -webkit-mask-image: url(../../../assets/img/icons/github.svg);
    mask-image: url(../../../assets/img/icons/github.svg);
}

.linkedin a::before {
    -webkit-mask-image: url(../../../assets/img/icons/linkedin.svg);
    mask-image: url(../../../assets/img/icons/linkedin.svg);
}

.social-wrapper {

    gap: 8px;
    left: 100%;
    top: 64px;

    .github,
    .linkedin {

        a::before {
            height: 20px;
            width: 20px;
        }

    }

    li {

        border: 1px solid var(--white);
        border-radius: 100%;
        padding: 5px;
        overflow: hidden;
        @include transition;

        &:hover {
            border-color: var(--primary-color);
            a::before {
                transform: scale(1.75);
                background: var(--primary-color);
            }
        }
    }
}