#about {
    padding-top: 0;

    @include breakpoint(large) {
        padding-top: 143px;
    }
}

.introduction {

    &-wrapper {
        --offset-y: 0;
        position: relative;
        width: 80vw;
        height: auto;
        aspect-ratio: 1/1;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include breakpoint(large) {
            margin-top: 0;
            width: 40vw;
            padding-bottom: 30px;
            aspect-ratio: 16/9;
        }

        &::before, &::after {
            content: '';
            position: absolute;
            @include transition;
        }

        &::before {
            bottom: 0;
            left: 0;
            width: 80vw;
            height: 100%;
            margin: auto;
            background: linear-gradient(to top, var(--primary-color), var(--white), var(--primary-color));
            -webkit-mask-image: url(../../../assets/img/patterns/frame.svg);
            mask-image: url(../../../assets/img/patterns/frame.svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-position: bottom 0 center;
             mask-position: bottom -32px center;
            z-index: -1;

            @include breakpoint(large) {
                width: 100%;
                background: var(--primary-color);
                -webkit-mask-image: url(../../../assets/img/patterns/frame_intro.svg);
                mask-image: url(../../../assets/img/patterns/frame_intro.svg);
            }
        }

        &::after {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            border-right: 6px solid var(--secondary-color);
            transform: skewY(-20deg) rotate(30deg);
            z-index: -1;

            @include breakpoint(large) {
                border-left: 6px solid var(--secondary-color);
                height: 100%;
            }
        }
    }

    &-texts {

        img {
            width: 85px;
            margin: auto auto 0 0;
            display: block;
            transform: translateY(var(--offset-y));

            @include breakpoint(large) {
                width: unset;
                margin-top: -143px;
                margin: auto;
                transform: unset;
            }
        }

        .title {
            color: var(--tertiary-color);
            margin-top: 0;
            margin-bottom: 0;
            transform: translateY(var(--offset-y));

            @include breakpoint(large) {
                transform: unset;
            }
        }

        p {
            width: 80vw;
            margin: auto;
            color: var(--secondary-color);
            line-height: 1.7cap;
            transform: translateY(var(--offset-y));
            padding-top: 6px;
            font-size: 12px;

            @include breakpoint(large) {
                width: 30vw;
                transform: unset;
                padding-top: unset;
                font-size: inherit;
            }
        }

        .button {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: fit-content;
            bottom: -23px;
        }
    }
}

.about-slider {
    height: 38vh;
    margin-top: 50px !important;

    @include breakpoint(large) {
        margin-top: 85px !important;
        height: 20vh;
    }

    @for $i from 1 through 5 {
        .slide-#{$i} {
            background: url(../../../assets/img/backgrounds/slider#{$i}r.png) no-repeat;
            @include breakpoint(large) {
                background: url(../../../assets/img/backgrounds/slide-#{$i}.png) no-repeat;
            }
        }
    }

    .swiper-slide {
        background-size: 100% auto;
        background-position: center;

        &>div {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            width: 85%;
            height: 100%;

            @include breakpoint(large) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                justify-content: unset;
            }
        }

        .slide-title {
            .text-bold {
                opacity: 0;
                transform: translateY(50px);
                @include transition($duration: 600ms);
            }
        }

        &-active {
            .slide-title {
                .text-bold {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        @each $slideName, $color in $about-slides {
            &.#{$slideName} {

                .slide-title {

                    position: relative;
                    font-size: 1.5rem;
                    padding: 1rem;

                    @include breakpoint(large) {
                        font-size: 2.5rem;
                        padding: unset;
                    }

                    &::before {
                        @include breakpoint(large) {
                            content: '';
                            position: absolute;
                            top: -35px;
                            left: -50px;
                            height: 100px;
                            width: 100px;
                            background-color: $color;
                            -webkit-mask-image: url(../../../assets/img/patterns/arrow_slider.svg);
                            mask-image: url(../../../assets/img/patterns/arrow_slider.svg);
                            -webkit-mask-repeat: no-repeat;
                            mask-repeat: no-repeat;
                            -webkit-mask-size: contain;
                            mask-size: contain;
                        }
                    }
                }
            }
        }

        @each $slideName, $color in $about-slides-quote {
            &.#{$slideName} {
                .slide-desc {
                    &::before, &::after {
                        background: $color;
                    }
                }
            }
        }

        .slide-desc {
            width: 75%;
            margin: 4px auto;
            position: relative;
            text-align: left !important;

            @include breakpoint(large) {
                text-align: center;
                margin: auto;
            }

            &::before, &::after {
                content: '';
                position: absolute;
                height: 20px;
                width: 20px;
                -webkit-mask-image: url(../../../assets/img/icons/quote.png);
                mask-image: url(../../../assets/img/icons/quote.png);
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-size: contain;
                mask-size: contain;
            }

            &::before {
                right: 100%;
                top: 12px;
            }

            &::after {
                transform: scale(-1, -1);
                left: 100%;
                bottom: 12px;
            }
        }

        @each $class-icon in $about-slides-icon {
            .icon-#{$class-icon} {
                width: 100%;
                height: 100%;
                background: url(../../../assets/img/icons/#{$class-icon}.png) no-repeat;
                background-position: right center;
            }
        }
    }
}