header {
    @include breakpoint(large, $min: max) {
        position: sticky;
        top: 0;
    }
}

.mobile-header {

    position: fixed;
    bottom: calc(100% - 66px);

    background: url(../../../assets/img/backgrounds/header.png);
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: center 30%;
    width: 100svw;
    height: 66px;

    .brand-wrapper {
        position: relative;
        width: 100svw;
    }

    .brand-wrapper, .square {
        height: 66px;
    }

    .square {
        background: rgba(4,5,5,.7);
        width: 68vw;
        height: 100%;
        z-index: 0;
        margin: auto;
    }

    .logo-img {
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        position: absolute;
        width: fit-content;
        background-color: var(--white);
        z-index: 1;

        svg {
            height: 100%;
            margin: auto;
        }
    }
}

.mobile-navs {
    background: $linear-primary;
    width: 85vw;
    border-radius: 8px;
    top: 6px;
    position: fixed;
    right: 0;
    z-index: 1;
    padding: 1rem;
    will-change: transform;
    transform: translateX(100%);
    @include transition;

    &.menu-is-open {
        transform: translateX(0);
    }

    a {
        color: var(--white);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--white);
        }
    }

    &>ul:first-of-type {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 9px;
        width: 75%;
    }

    .social-wrapper {
        margin-top: 1rem;

        li {
            width: 32px;
            aspect-ratio: 1/1;
        }
    }
}