.swiper {

    --swiper-pagination-bottom : 1.5rem;
    --swiper-theme-color: var(--primary-color);
    --swiper-pagination-bullet-inactive-color: var(--secondary-color);
    --swiper-pagination-bullet-inactive-opacity: 1;

    width: 100%;

    &-button {
        &-prev, &-next {
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: contain;
            mask-size: contain;
            background: var(--white);
            height: 40px !important;
            width: 40px !important;
            @include transition;

            &::after {
                content: '' !important;
            }

            &:hover {
                background-color: var(--primary-color);
            }
        }

        &-prev {
            -webkit-mask-image: url(../../../assets/img/icons/icon-back.svg);
            mask-image: url(../../../assets/img/icons/icon-back.svg);
        }

        &-next {
            -webkit-mask-image: url(../../../assets/img/icons/icon-next.svg);
            mask-image: url(../../../assets/img/icons/icon-next.svg);
            right: 10px !important;
        }
    }
}