section {
    padding-top: 30px;

    &#contact-form {
        padding-bottom: 16px;
        padding-top: 1rem;

        @include breakpoint(large) {
            padding-top: 30px;
            padding-bottom: unset;
        }
    }
}

main {
    position: relative;
    z-index: 1;
    padding-top: 66px;

    @include breakpoint(large) {
        padding-top: unset;
    }
}

header {
    position: relative;
    z-index: 1000;
}