$breakpoints: (
    small: 350px,
    medium: 900px,
    large: 1200px,
    xlarge: 1600px,
    xxlarge: 1900px
);

$about-slides: (
    slide-1: var(--primary-color), 
    slide-2:var(--secondary-color), 
    slide-3:var(--tertiary-color), 
    slide-4: var(--white)
);

$about-slides-icon: (
    slide-dev, 
    slide-efficace,
    slide-creative,
    slide-ecoute
);

$about-slides-quote: (
    slide-1: var(--secondary-color), 
    slide-2:var(--white), 
    slide-3:var(--tertiary-color), 
    slide-4: var(--primary-color)
);