@mixin transition($rule:all, $duration: 450ms, $timing: $cubic-bezier) {
    transition: $rule $duration $timing;
}

@mixin breakpoint($screen-width, $min: min) {
    @each $breakpoint, $value in $breakpoints {
        @if $min==min {
            @if $breakpoint==$screen-width {
                @media screen and (min-width: $value) {
                    @content;
                }
            }
        } @else {
            @if $breakpoint==$screen-width {
                @media screen and (max-width: $value) {
                    @content;
                }
            }
        }
    }
}

@mixin line-clamp($line-clamp) {
    overflow: hidden;
    -webkit-line-clamp: $line-clamp;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}