// GLOBALS
// ------------------------------
$box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
$button-shadow: rgba(149, 157, 165, 0.82) 0px 8px 24px;

// ANIM
// ------------------------------
$cubic-bezier: cubic-bezier(.05,.61,.41,.95);

// TYPO
// ------------------------------
$body-font-family: 'Poppins', helvetica, sans-serif;
$global-font-weight-bold: 700;
$global-font-weight-medium: 500;
$global-font-weight: 400;
$global-font-light: 300;

// CLIP PATH
// ------------------------------
$header-triangle: polygon(100% 0, 48% 100%, 100% 100%);

// BACKGROUNDS
// ------------------------------
$linear-primary: linear-gradient(90deg, var(--primary-color), var(--light-primary), var(--primary-color));
$linear-primary-hover: linear-gradient(45deg, var(--primary-color), var(--light-primary), var(--primary-color));